*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th{
	background: #020066;
	color: white;
}

body{
	background-image: url('../Images/BG1.jpg');
    background-repeat: repeat;
    background-size: 100% 720px;
}

h3, h2{
	text-align: center;
	line-height: 10px;
}

h2{
	font-size: 20px;
	color: #020066;
}

table{
	border-spacing: 0;
}

a{
	background-color: white;
	text-decoration: none;
	display: block;
    width: 50px;
    height: 10px;
    background: #020066;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
    border: 1px solid black;
    margin: auto;
}

a:hover{
	transition: .5s;
	background-color: #ea3405;
	color: #020066;
	border: 1px solid black;
}

input{
	word-wrap: break-word;
}

#main{
	width: 95%;
	margin: auto;
	height: 490px;
	border: solid 2px black;
	overflow: auto;
}

#main_menu{
	margin: auto;
}

#main_menu input{
	width: 150px;
}

#main_menu select{
	width: 150px;
}

.tb_size{
	width: 250px;
}

#inner_main table{
	width: 300px;
	margin: auto;
}

#inner_main select{
	width: 150px;
	margin: auto;
}

#inner_main2 table{
	width: 500px;
	margin: auto;
}

#inner_main2 select{
	width: 175px;
	margin: auto;
}

#inner_main2 td{
	/**border: solid 1px black;**/
}

.first{
	width: 250px;
}

.second{
	width: 250px;
	text-align: right;
}

.for_print table{
	background: white;
}

td{
	/**border: solid 1px black;**/
}

.mid{
	text-align: center;
	font-weight: bold;
}

#footer{
	width: 90%;
	margin: auto;
}

#footer table{
	width: 100px;
	margin: auto;
}

#footer input{
	width: 130px;
}

.tb_size_small{
	width: 80px;
}

.tb_size_medium{
	width: 200px;
}

.tb_size_large{
	width: 280px;
}

.tb_size10{
	width: 550px;
}

.page-break table{
	margin: auto;
	border: solid 1px black;
}

.page-break td{
	border: solid 1px black;
}

.print{
	position: fixed;
	right: 0;
	top: 10;
	height: 50px;
	width: 100px;
	margin-right: 50px;
}

.bold{
	font-weight: bold;
}

.btn{
	height: 40px;
	width: 100px;
}

#list_view{
	height: 270px;
	overflow: auto;
}

@media print{
	body{
		background-image: none;
	}
	@page {
	    size: 90mm 250mm; 
	    margin: 0;/* landscape */
	    /* you can also specify margins here: */
	/* for compatibility with both A4 and Letter */
	  }
	td{
		border: solid 1px black;
		}
	.page-break{
		display: block;
		page-break-before: always;
	}
	#main{
		visibility: hidden;
	}
	.for_print{
		visibility: visible;
		display: block;
		margin-top: 10px;
	}
	#footer{
		visibility: hidden;
		display: none;
	}
	.print{
		visibility: hidden;
		display: none;
	}
	*{
		font-size: 13px;
	}
	
}