
*{
	font-family: Tahoma,Verdana,Segoe,sans-serif; 
	font-size: 12px;
}
body{
	background-image: url('../resource/BG1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}
a{
	background-color: white;
	text-decoration: none;
	display: block;
    width: 50px;
    height: 10px;
    background: #020066;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 10px;
    border: 1px solid black;
    margin: auto;
}

a:hover{
	transition: .5s;
	background-color: #ea3405;
	color: #020066;
	border: 1px solid black;
}

h1, h2 ,h3, h4, h5{
	text-align: center !important;
	margin: auto !important;
	width: 100% !important;
}

#login_body{
	width: 300px;
	margin: auto;
	border: solid 1px black;
	padding: auto;
	margin-top: 50px;
}
#login_form{
	margin: auto;
	width: 300px;
	border: 3px solid black;
	padding: 10px;
}
#main{
	width: 90%;
	height: 500px;
	border: 1px solid black;
	margin: auto;
}

#main table{
	margin: auto;
}
#main td{
	text-align: center;
}
#main input{
	font-size: 12px;
}
#main2{
	width: 90%;
	height: 500px;
	border: 1px solid black;
	overflow: auto;
	margin: auto;
}
#main2 table{
	margin: auto;
}
#main2 td{
	text-align: left;
}
#main2 input{
	font-size: 12px;
}
#main_menu{
	margin: auto;
}
#main_menu input{
	width: 150px;
}
#main_menu select{
	width: 150px;
}
.tb_size0{
	width: 50px;
	text-align: center;
}
.tb_size1{
	width: 230px;
}
.tb_size3{
	width: 250px;
}
.tb_size4{
	width: 25px;
}
.tb_size10{
	width: 550px;
}
#footer{
	margin: auto;
	width: 90%;
}
.hide{
	
}
.mjbtn{
	width: 150px;
	height: 30px;
}
#input td label{
	width: 100px;
	font-size: 12px;
	text-align: left;
}
#input td{
	text-align: right !important;
}
#input input{
	text-align: right !important;
}
.input td label{
	width: 100px;
	font-size: 12px;
	text-align: left;
}
.input td{
	text-align: right !important;
}
.input input{
	text-align: right !important;
	width: 100px;
}
#sub{
	width: 90%;
	height: 500px;
	border: 1px solid black;
	overflow: auto;
	margin: auto;
}
#sub table{
	margin: auto;
}
#sub td{
	text-align: center;
}
#sub input{
	font-size: 12px;
}
.enterbtn{
	width: 100px;
	height: 50px;
	font-size: 20px;
}
#anchor{
	width: 300px;
	margin: auto;
	text-align: center;
}
#annual{
	font-size: 8px;
	word-wrap: break-word;

}
#annual th{
	background-color: black;
	color: white;
	
}
#annual td input{
	width: 70px;
	text-align: right;
}
#footer{
	width: 100%;
	height: 100%;
	margin: auto;
}
.hide{
	margin: 0 auto;
}
.hide tr{
	min-width: 100px;
}
.hide td{
	min-width: 100px;
	display: inline-block;
}
.main_h{
	font-size: 20px;
}
#atu tr td input{
	text-align: left;
}
.edit{
	font-size: 15px;
}
#annual{
	overflow: auto;
}
#inner_div{
	overflow: auto;
}
#inner_main{
	height: 500px;
	overflow: auto;
}.s_style{
	width: 150px;
}
.disp_tb_size1{
	width: 230px !important;
	text-align: left !important;
}
#result input{
	width: 80px;
}
.format{
	text-align: left !important;
}
#result th{
		background-color: black;
		color: white;
		word-wrap: break-word;
	}

.panel-body form{
	width: 300px;
	margin: auto;
}

.import td{

	text-align: left !important;
}
.import select{

	width: 150px;
}
.print{
	position: fixed;
	right: 0;
	top: 10;
	height: 50px;
	width: 100px;
	margin-right: 10px;
}

th{
	height: 10px;
	background: #020066;
	color:#fff;
}

#inner_main input{
	height: 13px;
}
@media print{
	.page-break{
		display: block;
		page-break-before: always;
	}
	@page {
	    size: 330mm 130mm; /* landscape */
	    margin: 0;
	    padding-top: 100px;
	    /* you can also specify margins here: */
	/* for compatibility with both A4 and Letter */
	  }
	html, body {
		width: 330mm;
		background-image: none;
 	 }
 	
	#result{
		margin-left: -5px;
	}
	#result td input{
		width: 45px;
		height: 12px;
		margin-top: -5px;
		margin-bottom: -5px;
		font-size: 8px;
		text-align: right;
	}
	th{
		background-color: black;
		color: white;
		font-size: 8px;
		width: 50px;
		word-wrap: break-word;
	}
	.hide{
		visibility: hidden;
		display: none;
	}
	.print{
		visibility: hidden;
		display: none;
	}
}
